<style>
.ui.menu {margin: 3em 0em;}
.ui.menu:last-child {margin-bottom: 30px;}
</style>
<div class="ui category search" style="width: 210px; margin: 0 auto">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="搜索" value="111">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<div class="tabs">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui secondary pointing menu">
      <a class="item" href="/admin">管理论坛</a>
      <a class="item" href="/admin/course">管理课程</a>
      <a class="item" href="/admin/user">管理用户</a>
      </div>
    </div>
  </div>
</div>
