<style>
.ui.menu {margin: 3em 0em;}
.ui.menu:last-child {margin-bottom: 30px;}

table {
  width: 100%;
  table-layout: fixed;
}
td{
  width:100%;
  word-break:keep-all;/* 不换行 */
  white-space:nowrap;/* 不换行 */
  overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用*/
}

</style>
<h1 style="
  text-align: center;
  color: #00b5ad;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;">系统后台管理界面</h1>
<div class="ui category search" style="width: 210px; margin: 0 auto">
  <div class="ui icon input">
    <input class="prompt" type="text" placeholder="搜索">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>
<div class="tabs">
  <div class="ui grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui secondary pointing menu">
      <a class="item" href="/admin">管理论坛</a>
      <a class="item" href="/admin/course">管理课程</a>
      <a class="item" href="/admin/user">管理用户</a>
      </div>
    </div>
  </div>
</div>
<script>
window.onload = function(){
  let a = document.querySelectorAll('a')
for (var i = 0; i < a.length; i++) {
  if (a[i].pathname === window.location.pathname) {
    a[i].classList.add('active')
  }
}

let prompt = document.querySelector('.prompt')


var table = document.getElementById('table')
console.log(table.rows.length)
console.log(table.rows)
console.dir(table.rows[0].innerText)

var trs = table.rows
var trsArr = [...trs] // HTMLCollection转换为数组
console.log(trsArr)

prompt.addEventListener("keyup", function (event) {
  if (event.keyCode === 13) {
    var searchValue = prompt.value
    let searchArr = fuzzyQuery(trs, searchValue);
    console.log(searchArr)
    let result = ''
    for (let i = 0; i < searchArr.length; i++) {
      result = result.concat(`<tr>${searchArr[i].innerHTML}</tr>`)
      console.log(result)
    }
    $('tbody').replaceWith(result)
    console.log($('tbody'))
  }
})

function fuzzyQuery(list, searchValue) {
  var searchArr = [];
  for (let i = 0; i < table.rows.length; i++) {
    if (list[i].innerText.indexOf(searchValue) >= 0) {
      searchArr.push(list[i]);
    }
  }
  // console.log(searchArr)
  return searchArr
}
}
</script>
