<%- include('header') %>
<%- include('components/adminHeader') %>
<div class="course-tabel">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>用户名</th>
          <th>头像</th>
          <th>性别</th>
          <th>个人简介</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach(function (user) { %>
          <%- include('components/admin-userContent', { user: user }) %>
        <% }) %>
      </tbody>
    </table>
  </div>
<script>
let a = document.querySelectorAll('a')
for(var i = 0; i < a.length; i++) {
  if(a[i].pathname === window.location.pathname){
    a[i].classList.add('active')
  }
}
</script>
<%- include('footer') %>
