<%- include('header') %>
<%- include('components/adminHeader') %>
<div class="course-tabel">
    <table class="ui celled table" id="table">
      <thead>
        <tr>
          <th>用户名</th>
          <th>头像</th>
          <th>性别</th>
          <th>个人简介</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach(function (user) { %>
          <%- include('components/admin-userContent', { user: user }) %>
        <% }) %>
      </tbody>
    </table>
  </div>


<%- include('footer') %>
