<%- include('header') %>
<%- include('components/adminHeader') %>
<button class="ui blue button"><a class="item" style="color: #fff" href="/createCourse">创建课程</a></button>
<div style= "margin-top: 2px" class="course-tabel">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>课程名称</th>
          <th>作者</th>
          <th>封面</th>
          <th>创建时间</th>
          <th>价格</th>
          <th>购买量</th>
          <th>课程详情</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% course.forEach(function (course) { %>
          <%- include('components/admin-courseContent', { course: course }) %>
        <% }) %>
      </tbody>
    </table>
  </div>
<script>
let a = document.querySelectorAll('a')
for(var i = 0; i < a.length; i++) {
  if(a[i].pathname === window.location.pathname){
    a[i].classList.add('active')
  }
}
</script>
<%- include('footer') %>
