<%- include('header') %>
<%- include('components/adminHeader') %>
<div class="course-tabel">
    <table class="ui celled table" id="table">
      <thead>
        <tr>
          <th>用户名</th>
          <th>头像</th>
          <th>性别</th>
          <th>个人简介</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% user.forEach(function (user) { %>
          <%- include('components/admin-userContent', { user: user }) %>
        <% }) %>
      </tbody>
    </table>
  </div>

<script>
let a = document.querySelectorAll('a')
for(var i = 0; i < a.length; i++) {
  if(a[i].pathname === window.location.pathname){
    a[i].classList.add('active')
  }
}

let prompt = document.querySelector('.prompt')


var table = document.getElementById('table')
console.log(table.rows.length)
console.log(table.rows)
console.dir(table.rows[0].innerText)

var trs = table.rows
var trsArr = [...trs] // HTMLCollection转换为数组
console.log(trsArr)

prompt.addEventListener("keyup", function(event){
  if(event.keyCode === 13){
      var searchValue = prompt.value
      let searchArr = fuzzyQuery(trs, searchValue);
      console.log(searchArr)
      let result = ''
      for(let i = 0; i < searchArr.length; i++) {
        result = result.concat(`<tr>${searchArr[i].innerHTML}</tr>`)
        console.log(result)
      }
      $('tbody').replaceWith(result)
      console.log($('tbody'))
  }
})

function fuzzyQuery(list, searchValue) {
  var searchArr = [];
  for(let i = 0; i < table.rows.length; i++) {
    if(list[i].innerText.indexOf(searchValue) >= 0) {
      searchArr.push(list[i]);
    }
  }
  // console.log(searchArr)
  return searchArr
}

</script>
<%- include('footer') %>
