<%- include('header') %>

<div class="ui grid">
  <div class="four wide column">
  </div>
  <div class="eight wide column">
    <form class="ui form segment"
          method="post"
          enctype="multipart/form-data">
      <div class="field required">
        <label>课程题目</label>
        <input placeholder="课程题目" type="text" name="courseName">
      </div>
      <div class="field required">
        <label>课程封面</label>
        <input type="file" name="cover">
      </div>
      <div class="field required">
        <label>课程视频</label>
        <input type="file" name="vedio1">
        <input type="file" name="vedio2">
        <input type="file" name="vedio3">
        <input type="file" name="vedio4">
        <input type="file" name="vedio5">
      </div>
      <div class="field required">
        <label>作者</label>
        <input placeholder="作者" type="text" name="author">
      </div>
      <div class="field required">
        <label>价格</label>
        <input placeholder="价格" type="number" name="price">
      </div>

      <div class="field required"><label>课堂作业</label>
        <label>问题1</label><input placeholder="问题1" type="text" name="question">
        <span>答案1</span><input name="answerRadio" type="radio" value="answer1"/><input placeholder="答案1" type="text" name="answer1">
        <span>答案2</span><input name="answerRadio" type="radio" value="answer2"/><input placeholder="答案2" type="text" name="answer2">
        <span>答案3</span><input name="answerRadio" type="radio" value="answer3"/><input placeholder="答案3" type="text" name="answer3">
        <span>答案4</span><input name="answerRadio" type="radio" value="answer4"/><input placeholder="答案4" type="text" name="answer4">

        <label>问题2</label><input placeholder="问题2" type="text" name="question2">
        <span>答案1</span><input name="answerRadio2" type="radio" value="answer5"/><input placeholder="答案1" type="text" name="answer5">
        <span>答案2</span><input name="answerRadio2" type="radio" value="answer6"/><input placeholder="答案2" type="text" name="answer6">
        <span>答案3</span><input name="answerRadio2" type="radio" value="answer7"/><input placeholder="答案3" type="text" name="answer7">
        <span>答案4</span><input name="answerRadio2" type="radio" value="answer8"/><input placeholder="答案4" type="text" name="answer8">

        <label>问题3</label><input placeholder="问题3" type="text" name="question3">
        <span>答案1</span><input name="answerRadio3" type="radio" value="answer9"/><input placeholder="答案1" type="text" name="answer9">
        <span>答案2</span><input name="answerRadio3" type="radio" value="answer10"/><input placeholder="答案2" type="text" name="answer10">
        <span>答案3</span><input name="answerRadio3" type="radio" value="answer11"/><input placeholder="答案3" type="text" name="answer11">
        <span>答案4</span><input name="answerRadio3" type="radio" value="answer12"/><input placeholder="答案4" type="text" name="answer12">

        <label>问题4</label><input placeholder="问题4" type="text" name="question4">
        <span>答案1</span><input name="answerRadio4" type="radio" value="answer13"/><input placeholder="答案1" type="text" name="answer13">
        <span>答案2</span><input name="answerRadio4" type="radio" value="answer14"/><input placeholder="答案2" type="text" name="answer14">
        <span>答案3</span><input name="answerRadio4" type="radio" value="answer15"/><input placeholder="答案3" type="text" name="answer15">
        <span>答案4</span><input name="answerRadio4" type="radio" value="answer16"/><input placeholder="答案4" type="text" name="answer16">
      </div>

      <div class="field required">
        <label>描述</label>
        <textarea name="description" rows="5"></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="发布课程">
    </form>
  </div>
</div>

<%- include('footer') %>
