<div class="footer">
    <p>
      <span>KaiKai © 2019 <a href="https://github.com/18898286061">Github</a>版权所有</span>
    </p>
  </div>
  <div style="height:60px;"></div>
<script type="text/javascript">
  $(document).ready(function () {
     // 点击按钮弹出下拉框
     $('.ui.dropdown').dropdown();

     // 鼠标悬浮在头像上，弹出气泡提示框
     $('.post-content .avatar-link').popup({
       inline: true,
       position: 'bottom right',
       lastResort: 'bottom right'
     });
   })
 </script>
</body>
</html>
