<%- include('header') %>
<h1 style="
text-align: center;
color: #00b5ad;
font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
font-weight: 700;" >综合网课系统</h1>
<%- include('components/swiper') %>

<%- include('footer') %>
