<%- include('header') %>
<style>
.description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
</style>
<h2 class="ui teal header" style="text-align: center">
    <div class="content">
      课程
    </div>
  </h2>
<!-- <div class="clearfix"> -->
<div class="flex-course">
<% course.forEach(function (course) { %>
  <%- include('components/course-content', { course: course }) %>
<% }) %>
</div>
<!-- </div> -->
<%- include('footer') %>
<script>
$(document).ready(function() {
    $('.special.card .image').dimmer({on: 'hover'});
    $('.star.rating').rating();
    $('.card .dimmer').dimmer({on: 'hover'});
  });
</script>
