<%- include('header') %>
<h2 class="ui teal header" style="text-align: center">
  <div class="content">
    论坛
  </div>
</h2>
<% posts.forEach(function (post) { %>
  <%- include('components/post-content', { post: post }) %>
<% }) %>

<%- include('footer') %>
